
html{
    scroll-behavior:smooth;
  }
  
  *{
      margin: 0px;
      padding: 0px;
      font-family:'Times New Roman', Times, serif;
      /* min-height: 40px; */
      /* background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;*/
      box-sizing: border-box;
      font-family:'Times New Roman', Times, serif;
      background-color:burlywood;
    }
  
  body{
    background-color:burlywood;

  }
  h2{
    color: red;
    margin: auto;
    padding: auto;
  }
  
  h3{
    color: blue;
      margin: 0px;
      padding: 0px;
      border: 12px;
  }
  
  h1{
    color:green ;
    margin: 0px;
    padding: 0px;
    border: 12px;
  
  }
  
  section{
    background-size: 100%; 
    padding: auto;
    margin: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color:burlywood;

  }
  
  .form-control {
    padding-left: 30px!important;
    background-color:burlywood;

  }
  
ul li{
    color:#0A0A0A;
    background-color:burlywood;

}